
div {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: blueviolet;
    text-align: center;
}

@media screen and (max-width: 420px) {
    div {
        background-color: gray;

    }

    h1::after {

        content: "cinza";

    }

}

@media (min-width: 421px) and (max-width: 768px) {
    div {
        background-color: orange;
    }

    h1::after {
        content: "laranja";

    }

}



@media (min-width: 769px) and (max-width: 1024px) {
    div {
        background-color: palevioletred;
    }

    h1::after {
        content: "rosa";
    }

}


@media (min-width: 1025px) and (max-width: 1080px) {

    div {
        background-color: red;


    }

    h1::after {
        content: "vermelho";
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {

    div {
        background-color: blue;


    }

    h1::after {
        content: "azul";
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    div {
        background-color: yellow;


    }

    h1::after {
        content: "amarelo";
    }

}